{% macro table(rows) %}
<table cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Course Name</th>
      <th width="1">Number</th>
      <th width="1">Semester</th>
      <th width="1">Grade</th>
      <th width="1">Credit</th>
    </tr>
  </thead>
  <tbody>
    {% set className = cycler("odd", "even") %}
    {% for row in rows %}
    <tr class="{{ className.next() }}">
      <td>{{ row.HIST_COURSE_NAME }}</td>
      <td>{{ row.HIST_COURSE_NUM }}</td>
      <td>{{ row.HIST_SEMESTER }}</td>
      <td>{{ row.HIST_SEM_GRADE }}</td>
      <td>{{ row.HIST_CREDIT_EARNED }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% macro year_grade_row(year_grade, fall_rows, spring_rows) %}
<div style="display: flex; column-gap: 1rem;">
  <div style="flex-grow: 1;">
    <h4 style="display: flex; column-gap: 1rem;">
      <div style="flex-grow: 1;">GRADE: {{year_grade.HIST_GRADE_LEVEL}}</div>
      <div style="flex-grow: 1;">{{year_grade.FALL_BLDG_NAME}}</div>
    </h4>
    {{ table(fall_rows) }}
  </div>
  <div style="flex-grow: 1;">
    <h4 style="display: flex; column-gap: 1rem;">
      <div style="flex-grow: 1;"></div>
      <div style="flex-grow: 1;">{{year_grade.SPRING_BLDG_NAME}}</div>
    </h4>
    {{ table(spring_rows) }}
  </div>
</div>
{% endmacro %}

{% macro elementary(rows) %}
<table cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Year</th>
      <th>School</th>
      <th>Grade</th>
      <th>Next Grade</th>
      <th>Reading</th>
      <th>Language</th>
      <th>Spelling</th>
      <th>Hand Writing</th>
      <th>Math</th>
      <th>Social Studies</th>
      <th>Science</th>
      <th>Physical Education</th>
      <th>Music</th>
      <th>Art</th>
      <th>Computers</th>
      <th>Foreign Language</th>
    </tr>
  </thead>
  <tbody>
    {% set className = cycler("odd", "even") %}
    {% for row in rows %}
    <tr class="{{ className.next() }}">
      <td style="white-space: nowrap;">{{ row.SCHOOL_YEAR.slice(0,2) }}-{{ row.SCHOOL_YEAR.slice(2,4) }}</td>
      <td>{{ row.SCHOOL }}</td>
      <td>{{ row.GRADE_LEVEL }}</td>
      <td>{{ row.PLACE }}</td>
      <td>{{ row.RD }}</td>
      <td>{{ row.LA }}</td>
      <td>{{ row.SP }}</td>
      <td>{{ row.HW }}</td>
      <td>{{ row.MT }}</td>
      <td>{{ row.SS }}</td>
      <td>{{ row.SC }}</td>
      <td>{{ row.PE }}</td>
      <td>{{ row.MU }}</td>
      <td>{{ row.AR }}</td>
      <td>{{ row.CP }}</td>
      <td>{{ row.FL }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}


{% macro attendance(rows) %}
<table cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Year</th>
      <th>Present</th>
      <th>Absent</th>
      <th>Non Member</th>
      <th>School Code</th>
      <th>School Name</th>
    </tr>
  </thead>
  <tbody>
    {% set className = cycler("odd", "even") %}
    {% for row in rows %}
    <tr class="{{ className.next() }}">
      <td style="white-space: nowrap;">{{ row.ATTENDANCE_YEAR.slice(0,2) }}-{{ row.ATTENDANCE_YEAR.slice(2,4) }}</td>
      <td>{{ row.SUM_DAYS_PRESENT }}</td>
      <td>{{ row.SUM_DAYS_ABSENT }}</td>
      <td>{{ row.SUM_DAYS_NON_MEMBER }}</td>
      <td>{{ row.SCHOOL }}</td>
      <td>{{ row.BLDG_NAME }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% macro mobility(rows) %}
<table cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>School Code</th>
      <th>Entry Date</th>
      <th>Entry Reason</th>
      <th>Exit Date</th>
      <th>Exit Reason</th>
    </tr>
  </thead>
  <tbody>
    {% set className = cycler("odd", "even") %}
    {% for row in rows %}
    <tr class="{{ className.next() }}">
      <td>{{ row.SCHOOL_CODE }}</td>
      <td>{{ row.ENTRY_DATE | formatDate }}</td>
      <td>{{ row.ENTRY_REASON_CODE }}</td>
      <td>{{ row.EXIT_DATE | formatDate }}</td>
      <td>{{ row.EXIT_REASON_CODE }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% macro addresshistory(rows) %}
<table cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Change Date</th>
      <th>Student Address</th>
      <th>Zip Code</th>
    </tr>
  </thead>
  <tbody>
    {% set className = cycler("odd", "even") %}
    {% for row in rows %}
    <tr class="{{ className.next() }}">
      <td>{{ row.address_date | formatDate }}</td>
      <td>
        {{ row.HOUSE_NUMBER.replace(r/^0+/, '') }}
        {{ row.DIRECTION }} {{ row.STREET_NAME }}
        &nbsp; {{ row.APARTMENT_LOT_NO }} {{ row.BLDG_LOT_NO }}
      </td>
      <td>{{ row.ZIP_CODE }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% macro student_test_list(rows) %}
<table cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Grade</th>
      <th>Test Name</th>
      <th>Test Date</th>
    </tr>
  </thead>
  <tbody>
    {% set className = cycler("odd", "even") %}
    {% for row in rows %}
    <tr class="{{ className.next() }}">
      <td>{{ row.GRADE }}</td>
      <td>{{ row.TEST_NAME }}</td>
      <td>{{ row.DATE }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% macro testTableHeader(row) %}
  <div id="header">
    {{ row.TEST_NAME }}{{"   Grade: "}}{{row.GRADE}}{{"   Date: "}}{{row.DATE | formatDate }}{{"   School: "}}{{row.SCHOOL_NAME}}
  </div>
{% endmacro %}

{% macro testTableOtis(rows) %}
  {% for row in rows %}
    {{ testTableHeader(row) }}
    <table cellpadding="0" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th width="1">Raw Score</th>
          <th width="1">Ability Index by Age</th>
          <th width="1">Percentile Rank by Age</th>
          <th width="1">Stanine by Age</th>
          <th width="1">Ability Index by Grade</th>
          <th width="1">Percentile Rank by Grade</th>
          <th width="1">Stanine by Grade</th>
        </tr>
      </thead>
      <tbody>
        {% set className = cycler("odd", "even") %}
        <tr class="{{ className.next() }}">
          <td>{{ row.OTIS_RAW_SCORE }}</td>
          <td>{{ row.OTIS_SAI_SCORE }}</td>
          <td>{{ row.OTIS_SAI_PCT }}</td>
          <td>{{ row.OTIS_SAI_STANINE }}</td>
          <td>{{ row.OTIS_GRD_ABILITY }}</td>
          <td>{{ row.OTIS_GRD_PCT }}</td>
          <td>{{ row.OTIS_GRD_STANINE }}</td>
        </tr>
      </tbody>
    </table>
  {% endfor %}
{% endmacro %}

{% macro testTableIowaRow(row, className) %}
    <tr class="{{ className }}">
      <td class="blueBG">{{ row.MEASURE_RANK}}</td>
      <td>{{ row.VOCABULARY }}</td>
      <td>{{ row.COMPOSITION }}</td>
      <td>{{ row.READING_ADV_SK }}</td>
      <td>{{ row.READING_TOTAL }}</td>
      <td>{{ row.SPELLING }}</td>
      <td>{{ row.CAPITALIZATION }}</td>
      <td>{{ row.PUNCTUATION }}</td>
      <td>{{ row.LANGUAGE_USAGE_EXPRESSION }}</td>
      <td>{{ row.LANGUAGE_TOTAL }}</td>
      <td>{{ row.MATH_CONCEPTS_ESTIMATION }}</td>
      <td>{{ row.MATH_PROBLEM_SOLVING }}</td>
      <td>{{ row.MATH_TOTAL }}</td>
      <td>{{ row.MATH_COMPUTATION }}</td>
      <td>{{ row.SOCIAL_STUDIES }}</td>
      <td>{{ row.SCIENCE }}</td>
      <td>{{ row.MAPS_DIAGRAMS }}</td>
      <td>{{ row.REFERENCE_MATERIALS }}</td>
      <td>{{ row.SOURCE_INFO_TOTAL }}</td>
      <td>{{ row.CORE_TOTAL }}</td>
      <td>{{ row.CORE_TOTAL_COMPU }}</td>
    </tr>
{% endmacro %}

{% macro testTableIowa(rows) %}
  {% for date, rows in rows | groupby("SORT_DATE") %}

    {% set header = rows[0] %}
    {{ testTableHeader(header) }}

    <table cellpadding="0" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th></th>
          <th width="1">Voca<br />bula<br />ry</th>
          <th width="1">Comp<br />osit<br />ion</th>
          <th width="1">Read<br />Adv.<br />Skills</th>
          <th width="1">Read<br />ing<br />Total</th>
          <th width="1">Spel<br />ling<br /></th>
          <th width="1">Capi<br />tali<br />zation</th>
          <th width="1">Punc<br />tuat<br />ion</th>
          <th width="1">Usag<br />e/Ex<br />pression</th>
          <th width="1">Lang<br />uage<br />Total</th>
          <th width="1">Math<br />Conc<br />ept</th>
          <th width="1">Math<br />Prob.<br />Solve</th>
          <th width="1">Math<br />Total<br /></th>
          <th width="1">Math<br />Total<br />Comp</th>
          <th width="1">Soc.<br />Stud<br />ies</th>
          <th width="1">Scie<br />nce</th>
          <th width="1">Maps<br />Diag<br />rams</th>
          <th width="1">Refe<br />renc<br />eMat.</th>
          <th width="1">Srce<br />Info<br />Total</th>
          <th width="1">Core<br />Total<br /></th>
          <th width="1">Core<br />Total<br />Comp</th>
        </tr>
      </thead>
      <tbody>
        {% set className = cycler("odd", "even") %}
        {% for row in rows %}
          {{ testTableIowaRow(row, className) }}
        {% endfor %}
      </tbody>
    </table>
  {% endfor%}
{% endmacro %}

{% macro testTableOklaCore(rows) %}
  {% for row in rows %}
    {{ testTableHeader(row) }}
    <table cellpadding="0" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th width="1">Math<br />PL</th>
          <th width="1">Math<br />OPI</th>
          <th width="1">Science<br />PL</th>
          <th width="1">Science<br />OPI</th>
          <th width="1">Reading<br />PL</th>
          <th width="1">Reading<br />OPI</th>
          <th width="1">U.S. History<br />PL</th>
          <th width="1">U.S. History<br />OPI</th>
          <th width="1">Geography<br />PL</th>
          <th width="1">Geography<br />OPI</th>
          <th width="1">Arts<br />PL</th>
          <th width="1">Arts<br />OPI</th>
          <th width="1">Okla Hist<br />PL</th>
          <th width="1">Okla Hist<br />OPI</th>
          <th width="1">Writing<br />PL</th>
          <th width="1">Writing Earned</th>
        </tr>
      </thead>
      <tbody>
        {% set className = cycler("odd", "even") %}
        <tr class="{{ className.next() }}">
          <td>{{ row.MATH_PL }}</td>
          <td>{{ row.MATH_OPI }}</td>
          <td>{{ row.SCIENCE_PL }}</td>
          <td>{{ row.SCIENCE_OPI }}</td>
          <td>{{ row.READ_PL }}</td>
          <td>{{ row.READ_OPI }}</td>
          <td>{{ row.USHIST_PL }}</td>
          <td>{{ row.USHIST_OPI }}</td>
          <td>{{ row.GEOGRAPHY_PL }}</td>
          <td>{{ row.GEOGRAPHY_OPI }}</td>
          <td>{{ row.ARTS_PL }}</td>
          <td>{{ row.ARTS_OPI }}</td>
          <td>{{ row.OKHIST_PL }}</td>
          <td>{{ row.OKHIST_OPI }}</td>
          <td>{{ row.WRI_PL }}</td>
          <td>{{ row.WRI_EARN }}</td>
        </tr>
      </tbody>
    </table>
  {% endfor %}
{% endmacro %}



{% macro testTableGates(rows) %}
  {% for row in rows %}
  {{ testTableHeader(row) }}
  <table cellpadding="0" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th width="1">Raw Score 1</th>
        <th width="1">Percentile 1</th>
        <th width="1">GE 1</th>
        <th width="1">Raw Score 2</th>
        <th width="1">Percentile 2</th>
        <th width="1">GE 2</th>
        <th width="1">Raw Score 3</th>
        <th width="1">Percentile 3</th>
        <th width="1">GE 3</th>
        <th width="1">Raw Score 4</th>
        <th width="1">Percentile 4</th>
        <th width="1">GE 4</th>
      </tr>
    </thead>
    <tbody>
      {% set className = cycler("odd", "even") %}
      <tr class="{{ className.next() }}">
        <td>{{ row.RAW_SCORE_1 }}</td>
        <td>{{ row.PERCENTILE_1 }}</td>
        <td>{{ row.GE_1 }}</td>
        <td>{{ row.RAW_SCORE_2 }}</td>
        <td>{{ row.PERCENTILE_2 }}</td>
        <td>{{ row.GE_2 }}</td>
        <td>{{ row.RAW_SCORE_3 }}</td>
        <td>{{ row.PERCENTILE_3 }}</td>
        <td>{{ row.GE_3 }}</td>
        <td>{{ row.RAW_SCORE_4 }}</td>
        <td>{{ row.PERCENTILE_4 }}</td>
        <td>{{ row.GE_4 }}</td>
      </tr>
    </tbody>
  </table>
  {% endfor %}
{% endmacro %}

{% macro testTableExplore(row) %}
  {{ testTableHeader(row) }}
  <table cellpadding="0" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th width="1"></th>
        <th width="1">English</th>
        <th width="1">English Subscore:<br />Usage/Mechanical</th>
        <th width="1">English Subscore:<br />Rhetorical</th>
        <th width="1">Math</th>
        <th width="1">Reading</th>
        <th width="1">Science</th>
        <th width="1">Composite</th>
      </tr>
    </thead>
    <tbody>
      <tr class="odd">
        <td class="blueBG">Standard Score</td>
        <td>{{ row.ENGLISH_SCR }}</td>
        <td>{{ row.SUBSCORE_UM }}</td>
        <td>{{ row.SUBSCORE_RH }}</td>
        <td>{{ row.MATH_SCR }}</td>
        <td>{{ row.READING_SCR }}</td>
        <td>{{ row.SCIENCE_SCR }}</td>
        <td>{{ row.COMPOSITE_SCR }}</td>
      </tr>
      <tr class="even">
        <td class="blueBG">Local Percentile</td>
        <td>{{ row.ENGLISH_LOC_PERC }}</td>
        <td>{{ row.LOC_PERC_UM }}</td>
        <td>{{ row.LOC_PERC_RH }}</td>
        <td>{{ row.MATH_LOC_PERC }}</td>
        <td>{{ row.READING_LOC_PERC }}</td>
        <td>{{ row.SCIENCE_LOC_PERC }}</td>
        <td>{{ row.COMPOSITE_LOC_PERC }}</td>
      </tr>
      <tr class="odd">
        <td class="blueBG">National Percentile</td>
        <td>{{ row.ENGLISH_NAT_PERC }}</td>
        <td>{{ row.NAT_PERC_UM }}</td>
        <td>{{ row.NAT_PERC_RH }}</td>
        <td>{{ row.MATH_NAT_PERC }}</td>
        <td>{{ row.READING_NAT_PERC }}</td>
        <td>{{ row.SCIENCE_NAT_PERC }}</td>
        <td>{{ row.COMPOSITE_NAT_PERC }}</td>
      </tr>
    </tbody>
  </table>
{% endmacro %}

{% macro testTableEndOfInstructionRow(rowName, row, className) %}
    <tr class="{{ className }}">
      <td class="blueBG">{{ rowName }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
    </tr>
{% endmacro %}

{% macro testTableEndOfInstruction(rowOpiScore, rowPerformanceLevel, rowPassFail) %}
<table cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th width="1"></th>
      <th width="1">English II</th>
      <th width="1">U.S. History</th>
      <th width="1">Algebra I</th>
      <th width="1">Biology I</th>
    </tr>
  </thead>
  <tbody>
      {{ testTableEndOfInstructionRow("OPI Score", rowOpiScore, "odd") }}
      {{ testTableEndOfInstructionRow("Performance Level", rowPerformanceLevel, "even") }}
      {{ testTableEndOfInstructionRow("Pass/Fail", rowPassFail, "odd") }}
  </tbody>
</table>
{% endmacro %}

{% macro personalInfoSuspensions(rows) %}
<table cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th width="1">SUSPENSIONS:</th>
      <th width="1"></th>
      <th width="1"></th>
      <th width="1"></th>
      <th width="1"></th>
      <th width="1"></th>
      <th width="1"></th>
    </tr>
    <tr>
      <th width="1">School</th>
      <th width="1">Notification</th>
      <th width="1">Begin Date</th>
      <th width="1">Ending Date</th>
      <th width="1">Days</th>
      <th width="1">Incident Description</th>
      <th width="1">Incident Location</th>
    </tr>
  </thead>
  <tbody>
    {% set className = cycler("odd", "even") %}
    {% for row in rows %}
    <tr class="{{ className.next() }}">
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% macro personalInfoSpecialEd(rows) %}
<table cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th width="1">SPECIAL ED:</th>
      <th width="1">{{Active or Inactive}}</th>
      <th width="1"></th>
      <th width="1"></th>
    </tr>
    <tr>
      <th width="1">Category</th>
      <th width="1">Program Design</th>
      <th width="1">Entry Date</th>
      <th width="1">Exit Date</th>
    </tr>
  </thead>
  <tbody>
    {% set className = cycler("odd", "even") %}
    {% for row in rows %}
    <tr class="{{ className.next() }}">
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% macro testTablePlanRow(rowName, row, className) %}
    <tr class="{{ className }}">
      <td class="blueBG">{{ rowName }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
    </tr>
{% endmacro %}

{% macro testTablePlan(rowStandardScore, rowLocalPercentile, rowNationalPercentile) %}
<table cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th width="1"></th>
      <th width="1">English</th>
      <th width="1">English Subscore:<br />Usage/Mechanical</th>
      <th width="1">English Subscore:<br />Rhetorical</th>
      <th width="1">Math</th>
      <th width="1">Math Subscore:<br />Algebra</th>
      <th width="1">Math Subscore:<br />Geometry</th>
      <th width="1">Reading</th>
      <th width="1">Science</th>
      <th width="1">Composite</th>
    </tr>
  </thead>
  <tbody>
      {{ testTablePlanRow("Standard Score", rowStandard, "odd") }}
      {{ testTablePlanRow("Local Percentile", rowLocalPercentile, "even") }}
      {{ testTablePlanRow("National Percentile", rowNationalPercentile, "odd") }}
  </tbody>
</table>
{% endmacro %}

{% macro testTableActRow(rowName, row, className) %}
    <tr class="{{ className }}">
      <td class="blueBG">{{ rowName }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
    </tr>
{% endmacro %}

{% macro testTableAct(row) %}
<table cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th width="1"></th>
      <th width="1">English</th>
      <th width="1">Eng Subscore:<br />Usage/Mechanical</th>
      <th width="1">Eng Subscore:<br />Rhetorical Skills</th>
      <th width="1">Math</th>
      <th width="1">Math Subscore:<br />Elem. Algebra</th>
      <th width="1">Math Subscore:<br />Algebra/Geom.</th>
      <th width="1">Math Subscore:<br />Geometry/Trig.</th>
      <th width="1">Reading</th>
      <th width="1">Reading Subscore:<br />Social Science</th>
      <th width="1">Read Subscore:<br />Arts/Literature</th>
      <th width="1">Science</th>
    </tr>
  </thead>
  <tbody>
      {{ testTableActRow("Score", row, "odd") }}
  </tbody>
</table>
{% endmacro %}

{% macro personalInfoImmunizations(rows) %}
<table cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th width="1">IMMUNIZATIONS:</th>
      <th width="1"></th>
      <th width="1"></th>
      <th width="1"></th>
      <th width="1"></th>
      <th width="1"></th>
      <th width="1"></th>
      <th width="1">Immun. Status: {{ "" }}</th>
    </tr>
    <tr>
      <th>Type and Date</th>
      <th width="1"></th>
      <th width="1"></th>
      <th width="1"></th>
      <th width="1"></th>
      <th width="1"></th>
      <th width="1"></th>
      <th width="1">Certified By:</th>
    </tr>
  </thead>
  <tbody>
    {% set className = cycler("odd", "even") %}
    {% for row in rows %}
    <tr class="{{ className.next() }}">
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}

{% macro personalInfoMobility(rows) %}
<table cellpadding="0" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th width="1">MOBILITY:</th>
      <th width="1"></th>
      <th width="1"></th>
      <th width="1"></th>
      <th width="1"></th>
    </tr>
    <tr>
      <th width="1">School Code</th>
      <th width="1">Entry Date</th>
      <th width="1">Entry Code</th>
      <th width="1">Exit Date</th>
      <th width="1">Exit Code</th>
    </tr>
  </thead>
  <tbody>
    {% set className = cycler("odd", "even") %}
    {% for row in rows %}
    <tr class="{{ className.next() }}">
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
      <td>{{ "" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endmacro %}
