{% import "macros.njk" as macros %}
<html>
  <head>
    <style>
      html, body {
        font-family: sans-serif;
      }
      #header {
        font-weight: bold;
      }
      #header .banner {
        text-align: center;
        position: relative;
      }
      #header .banner .date {
        position: absolute;
        top: 0;
        right: 0;
      }
      #header .student-name {
        margin: 1rem 0;
      }
      #subheader {
        font-size: 80%;
      }
      #footer {
        text-align: center;
      }
      table {
        break-inside: avoid;
        font-size: 85%
      }
      td, th {
        margin: 0;
        padding: 0.25rem;
      }
      thead tr {
        background-color: #5974B4;
      }
      thead th {
        color: #fff;
        text-align: left;
      }
      tbody tr.odd {
        background-color: #eee;
      }
      tbody tr.even {
        background-color: #fff;
      }
      .page {
        page-break-after: always;
      }
      .no-break {
        break-inside: avoid;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <div class="banner">
        <div>Student Personal Information Report</div>
        <div>Tulsa Public Schools</div>
        <div><small>3027 S. New Haven 74114</small></div>
        <div class="date">Date: {{ date | formatDate }}</div>
      </div>
      <div class="student-name">
        {{ student_personal_data_report.STUDENT_NAME | trim }},
      </div>
      <div id="subheader" style="display: flex; column-gap: 1rem;">
        <div style="flex-grow: 1; display: flex; flex-direction: column; row-gap: 0.5rem;">
          <div>
            {{ student_personal_data_report.STUDENT_ADDRESS }}
          </div>
          <div>{{ student_personal_data_report.STUDENT_PHONE }}</div>
          <div style="display: flex; column-gap: 1rem;">
            <div>Gender: {{ student_personal_data_report.STUDENT_SEX }}</div>
            <div>Race: {{ student_personal_data_report.STUDENT_RACE }}</div>
          </div>
          <div style="display: flex; column-gap: 1rem;">
            <div>Birthday: {{ student_data_transcript.STUDENT_BIRTHDATE | formatDate }}</div>
          </div>
          <div style="display: flex; column-gap: 1rem;">
            <div>Parent/Guardian:</div>
            <div>
              <div>{{spd_demo.PARENT_FNAME}} 
              {{ spd_demo.PARENT_MI }} 
              {{ spd_demo.PARENT_LNAME }}
              </div>
              <div>{{spd_demo.SPARENT_FNAME}} 
              {{ spd_demo.SPARENT_MI }} 
              {{ spd_demo.SPARENT_LNAME }}</div>
            </div>
          </div>
        </div>
        <div style="flex-grow: 1; display: flex; flex-direction: column; row-gap: 0.5rem;">
          <div>Student Number: {{ student_personal_data_report.STUDENT_NUMBER }}</div>
          <div>Current School: {{ student_personal_data_report.STUDENT_CURR_SCH }}</div>
          <div>Entry Date: {{ student_personal_data_report.STUDENT_ENTRY_DATE | formatDate }}</div>
          <div>Status: {{ student_personal_data_report.STUDENT_STATUS }}</div>
        </div>
        <div style="flex-grow: 1; display: flex; flex-direction: column; row-gap: 0.5rem;">
          <div>Goes By: {{ student_personal_data_report.GOESBYNAME }}</div>
          <div>Grade: {{ student_personal_data_report.STUDENT_GRADE }}</div>
          <div>Reason Code: {{ student_personal_data_report.MISC_REASON_CODE }}</div>
        </div>
      </div>
    </div>

    <div class="page" data-pageNum="1">
      <div class="no-break">
        <br />
        {{macros.personalInfoMobility(spd_mobility)}}
        <br />
        {{macros.personalInfoImmunizations(spd_immunizations)}}
      </div>
    </div>

    <div class="page" data-pageNum="2">
      <div class="no-break">
        <br />
        {{macros.personalInfoSuspensions([])}}
        <br />
        {{macros.personalInfoSpecialEdActive([])}}
        <br />
        {{macros.personalInfoSpecialEdInactive([])}}
      </div>
    </div>
    <div id="footer">
      Page <span class="pageNumber"></span> of <span class="totalPages"></span>
    </div>
  </body>
</html>
