{% import "macros.njk" as macros %}
<html>
  <head>
    <style>
      html, body {
        font-family: sans-serif;
      }
      #header {
        font-weight: bold;
      }
      #header .banner {
        text-align: center;
        position: relative;
      }
      #header .banner .date {
        position: absolute;
        top: 0;
        right: 0;
      }
      #header .student-name {
        margin: 1rem 0;
      }
      #footer {
        text-align: center;
      }
      table {
        break-inside: avoid;
        font-size: 85%
      }
      td, th {
        margin: 0;
        padding: 0.25rem;
      }
      thead tr {
        background-color: #5974B4;
      }
      thead th {
        color: #fff;
        text-align: left;
      }
      tbody tr.odd {
        background-color: #eee;
      }
      tbody tr.even {
        background-color: #fff;
      }
      .page {
        page-break-after: always;
      }
      .no-break {
        break-inside: avoid;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <div class="banner">
        <div>ELECTRONIC CUMULATIVE RECORD</div>
        <div>TULSA PUBLIC SCHOOLS</div>
        <div><small>Educational Measurements (Test Scores)</small></div>
        <div class="date">Date: {{ date | formatDate }}</div>
      </div>
      <div class="student-name">
        {{ student_data_transcript.STUDENT_LNAME | trim }},
        {{ student_data_transcript.STUDENT_FNAME | trim }}
        {{ student_data_transcript.STUDENT_MI | trim }}
      </div>
    </div>

    <div class="page" data-pageNum="1">
      <div class="no-break">
        <h3>Student Test List</h3>

        {{ macros.student_test_list(admin) }}
        {{ macros.testTableHeader("OTIS-LENNON", 2, "Date", "SchoolName") }}
        {{ macros.testTableOtis(otis) }}

      </div>
    </div>
    <div class="page" data-pageNum="2">
      <div class="no-break">
        {{ macros.testTableHeader("IOWA TEST/TAP", 3, "Date", "SchoolName") }}
        {{ macros.testTableIowa(new_iowa3_obj.GE[0], new_iowa3_obj.LPR[0], new_iowa3_obj.NCE[0], new_iowa3_obj.NPR[0], new_iowa3_obj.SPR[0]) }}
        {{ macros.testTableHeader("IOWA TEST/TAP", 4, "Date", "SchoolName") }}
        {{ macros.testTableIowa(new_iowa4_obj.GE[0], new_iowa4_obj.LPR[0], new_iowa4_obj.NCE[0], new_iowa4_obj.NPR[0], new_iowa4_obj.SPR[0]) }}
        {{ macros.testTableHeader("OKLAHOMA CORE CURRICULUM TEST", 5, "Date", "SchoolName") }}
        {{ macros.testTableOklaCore(occ) }}
      </div>
    </div>
    <div class="page" data-pageNum="3">
      <div class="no-break">
        {{ macros.testTableHeader("OKLAHOMA CORE CURRICULUM TEST", 8, "Date", "SchoolName") }}
        {{ macros.testTableOklaCore(occ) }}
        {{ macros.testTableHeader("GATES READING TEST", 5, "2001", "SchoolName") }}
        {{ macros.testTableGates([]) }}
        {{ macros.testTableHeader("GATES READING TEST", 5, "2002", "SchoolName") }}
        {{ macros.testTableGates([]) }}
        {{ macros.testTableHeader("EXPLORE TEST", 8, "Date", "SchoolName") }}
        {{ macros.testTableExplore([]) }}
      </div>
    </div>
    <div class="page" data-pageNum="4">
      <div class="no-break">
        {{ macros.testTableHeader("END OF INSTRUCTION", 9, "Date", "SchoolName") }}
        {{ macros.testTableEndOfInstruction([]) }}
        {{ macros.testTableHeader("END OF INSTRUCTION", 10, "Date", "SchoolName") }}
        {{ macros.testTableEndOfInstruction([]) }}
        {{ macros.testTableHeader("PLAN TEST", 9, "Date", "SchoolName") }}
        {{ macros.testTablePlan([]) }}
        {{ macros.testTableHeader("ACT TEST", 12, "Date", "SchoolName") }}
        {{ macros.testTableAct([]) }}
      </div>
    </div>

    <div id="footer">
      Page <span class="pageNumber"></span> of <span class="totalPages"></span>
    </div>
  </body>
</html>
